In [40]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
dt = pd.read_csv(r"C:\Users\HP\Downloads\Maternal Health Risk Data Set.csv")
dt.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86  high risk
1   35         140           90  13.0      98.0         70  high risk
2   29          90           70   8.0     100.0         80  high risk
3   30         140           85   7.0      98.0         70  high risk
4   35         120           60   6.1      98.0         76   low risk

In [5]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1014 non-null   int64
 1   SystolicBP   1014 non-null   int64
 2   DiastolicBP  1014 non-null   int64
 3   BS           1014 non-null   float64
 4   BodyTemp     1014 non-null   float64
 5   HeartRate    1014 non-null   int64
 6   RiskLevel    1014 non-null   object
dtypes: float64(2), int64(4), object(1)
memory usage: 55.6+ KB

In [6]:
dt.isnull().sum()

Age            0
SystolicBP     0
DiastolicBP    0
BS             0
BodyTemp       0
HeartRate      0
RiskLevel      0
dtype: int64

In [7]:
dt.describe().T

              count        mean        std   min    25%    50%    75%    max
Age          1014.0   29.871795  13.474386  10.0   19.0   26.0   39.0   70.0
SystolicBP   1014.0  113.198225  18.403913  70.0  100.0  120.0  120.0  160.0
DiastolicBP  1014.0   76.460552  13.885796  49.0   65.0   80.0   90.0  100.0
BS           1014.0    8.725986   3.293532   6.0    6.9    7.5    8.0   19.0
BodyTemp     1014.0   98.665089   1.371384  98.0   98.0   98.0   98.0  103.0
HeartRate    1014.0   74.301775   8.088702   7.0   70.0   76.0   80.0   90.0

In [8]:
dt.duplicated().sum()

562

In [9]:
dt['RiskLevel'].replace({"high risk": "2", "mid risk": "1", "low risk" : "0"}, inplace=True)
dt['RiskLevel'] = dt['RiskLevel'].astype(float)
dt.head(8)

   Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.00      98.0         86        2.0
1   35         140           90  13.00      98.0         70        2.0
2   29          90           70   8.00     100.0         80        2.0
3   30         140           85   7.00      98.0         70        2.0
4   35         120           60   6.10      98.0         76        0.0
5   23         140           80   7.01      98.0         70        2.0
6   23         130           70   7.01      98.0         78        1.0
7   35          85           60  11.00     102.0         86        2.0

In [265]:
# Import label encoder
from sklearn import preprocessing
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'species'.
dt['RiskLevel']= label_encoder.fit_transform(dt['RiskLevel'])
dt['RiskLevel'].unique()

array([0, 1, 2], dtype=int64)

In [10]:
dt = dt.drop(dt.index[dt.HeartRate == 7])  # dropping column "HeartRate" bcos
dt = dt.drop(["HeartRate"], axis=1)
dt

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  RiskLevel
0      25         130           80  15.0      98.0        2.0
1      35         140           90  13.0      98.0        2.0
2      29          90           70   8.0     100.0        2.0
3      30         140           85   7.0      98.0        2.0
4      35         120           60   6.1      98.0        0.0
...   ...         ...          ...   ...       ...        ...
1009   22         120           60  15.0      98.0        2.0
1010   55         120           90  18.0      98.0        2.0
1011   35          85           60  19.0      98.0        2.0
1012   43         120           90  18.0      98.0        2.0
1013   32         120           65   6.0     101.0        1.0

[1012 rows x 6 columns]

In [54]:
X = dt.drop('RiskLevel', axis=1)  #dropping column "Risklevel" bcos it' is a dependent variable
y = dt[['RiskLevel']]
y = y.values.ravel()
y

array([2., 2., 2., ..., 2., 2., 1.])

In [14]:
X

      Age  SystolicBP  DiastolicBP    BS  BodyTemp
0      25         130           80  15.0      98.0
1      35         140           90  13.0      98.0
2      29          90           70   8.0     100.0
3      30         140           85   7.0      98.0
4      35         120           60   6.1      98.0
...   ...         ...          ...   ...       ...
1009   22         120           60  15.0      98.0
1010   55         120           90  18.0      98.0
1011   35          85           60  19.0      98.0
1012   43         120           90  18.0      98.0
1013   32         120           65   6.0     101.0

[1012 rows x 5 columns]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

In [48]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
from sklearn import svm, model_selection, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process, neural_network
from sklearn.svm import SVC
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn import metrics
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, auc,roc_curve, roc_auc_score, classification_report
from sklearn.naive_bayes import GaussianNB

In [49]:
clf = [
    ensemble.AdaBoostClassifier(),
    ensemble.BaggingClassifier(),
    ensemble.RandomForestClassifier(),
    naive_bayes.GaussianNB(),
    CalibratedClassifierCV(svm.LinearSVC()), # SVC does not have predict_proba, and is wrapped into CalibratedClassifierCV
    tree.DecisionTreeClassifier(),
    KNeighborsClassifier()
    ]

In [36]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [37]:
lr_pred_score = lr.score(X_test,y_test) #detecting the accuracy of our model
lr_pred_score

0.3956841785950246

In [38]:
from sklearn.ensemble import RandomForestRegressor
rfr= RandomForestRegressor()
rfr.fit(X_train, y_train)
rfr_pred_score= lr.score(X_test, y_test)
rfr_pred_score

0.3956841785950246

In [53]:
clf_columns = []
clf_compare = pd.DataFrame(columns = clf_columns)

row_index = 0
for alg in clf:    
    
    predicted = alg.fit(X_train, y_train).predict(X_test)
    clf_name = alg.__class__.__name__
    clf_compare.loc[row_index,'Classifier'] = clf_name;
    clf_compare.loc[row_index, 'Train Accuracy'] = round(alg.score(X_train, y_train), 4);
    clf_compare.loc[row_index, 'Test Accuracy'] = round(alg.score(X_test, y_test), 4);
    row_index+=1
    
clf_compare.sort_values(by = ['Test Accuracy'], ascending = True, inplace = True)  
clf_compare

               Classifier  Train Accuracy  Test Accuracy
4  CalibratedClassifierCV          0.5982         0.5692
3              GaussianNB          0.5995         0.5929
0      AdaBoostClassifier          0.6877         0.6561
6    KNeighborsClassifier          0.7892         0.6759
1       BaggingClassifier          0.9249         0.8182
2  RandomForestClassifier          0.9302         0.8221
5  DecisionTreeClassifier          0.9302         0.8379